*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --pink: #D658B3;
  --green: #45B442;
  --gray-700: #332B31;
  --gray-600: #4A4448;
  --gray-500: #756C71;
  --gray-400: #D3CFD2;
  --gray-300: #DFDCDF;
  --gray-200: #E9E7E9;
  --gray-100: #F4F1F2;
  --white: #FFFFFF;
  --gradient-base: linear-gradient(90deg, #2DAA6E 0%, #2DAAAA 33.33%, #856CCF 66.67%, #D658B3 100%);

  --ff-sans: "Oxygen", sans-serif;
  --fw-regular: 400;
  --fw-bold: 700;
  --text-transform: uppercase; /* only for --font-subtitle-md and --font-subtitle-sm */

  --font-title-md: var(--fw-bold) 1.5rem/1.4 var(--ff-sans);
  --font-title-sm: var(--fw-bold) 1.125rem/1.4 var(--ff-sans);
  --font-subtitle-md: var(--fw-bold) 0.875rem/1.4 var(--ff-sans); /* and: --text-transform */
  --font-subtitle-sm: var(--fw-bold) 0.75rem/1.4 var(--ff-sans); /* and: --text-transform */
  --font-text-md: var(--fw-regular) 1rem/1.4 var(--ff-sans);
  --font-text-sm: var(--fw-regular) 0.875rem/1.4 var(--ff-sans);
  --font-text-xs: var(--fw-regular) 0.75rem/1.4 var(--ff-sans);

}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: var(--gray-200);
  overflow-x: hidden;
}

ul[role='list'] {
  list-style: none;
}