.user {
  background: var(--gray-100);
  border: 1px solid var(--gray-300);
  border-radius: 1rem;
  grid-column: 1/2;
  grid-row: 1/2;
  padding: 1rem;
  display: flex;
  gap: 1rem;

  width: 20rem;
  height: 5.625rem;

  & .user-avatar-external-container {
    position: relative;
    width: 56px;
    height: 56px;
    background: linear-gradient(white, white) padding-box, 
                conic-gradient(from -45deg,#D658B3 0%, #AF74DE 13%, #6B84DE 25%, #5DCAB7 38%, #45B442 50%, #5EC6B9 62%, #698DD9 73%, #B173DC 87%, #D658B3 100%) border-box;
    border: 2px solid transparent; /* using 2px instead of 1.5px because some browsers cant handle well subpixels */
    border-radius: 10px;

    & .user-avatar-internal-container {
      position: absolute;
      top: -2px;
      left: -2px;
      width: 56px;
      height: 56px;
    }

    & .user-avatar-img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      border: 4px solid transparent;
      object-fit: contain;
    }
  }

  & div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.25rem;

    & h1 {
      font: var(--font-title-sm);
      color: var(--gray-600);
    }

    & p {
      font: var(--font-text-xs);
      color: var(--gray-500);
    }
  }
}

@media (max-width: 57em) {
  .user {
    order: 1;
    width: 100%;
  }
}